#container {
    padding-top: 150px;
    width: 550px;
    left: 0;
    right: 0;
    margin: auto;
}

#btns {
    padding-top: 70px;
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
}

#btn {
    margin-right: 20px;
    width: 130px;
    height: 50px;
    font-size: 20px;
}

#btn:hover,
#btn2:hover {
    background-color: rgb(130, 0, 0);
}

.btnUpdate {
    margin-right: 150px;
}